<form action="/register" method="post">

    <input name="clientName" placeholder="clientName"><br>
    <input name="clientSecret" placeholder="clientSecret"><br>
    <input name="redirectUris" placeholder="redirectUris"><br>
    <input name="postLogoutRedirectUris" placeholder="postLogoutRedirectUris"><br>
    <input name="scopes" placeholder="scopes">

    <input type="submit" value="Register"/>
</form>
<pre>
clientName : 아무 값
redirectUris : http://localhost:8080/login/oauth2/code/yummi
postLogoutRedirectUris : http://localhost:8080
scopes : openid,profile
</pre>